<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../userCss/login.css">
</head>

<body>
    <div class="login-container">
        <h1 class="logo-name">ALL IN ONE</h1>
        <div class="form-container">
            <form method="post" action="/auth" class="login-form">
                <h1>Let's get Sign in here</h1>
                <p>Experience the taste with us</p>
                <div>
                    <p>Email</p>
                    <input name="email" type="email" placeholder="Enter your email" required>
                </div>
                <div>
                    <p>Password</p>
                    <input name="password" type="password" placeholder="Enter password" required>
                </div>
                <button class="create-btn">Sign In</button>
            </form>
        </div>
    </div>
    <div class="food-container">
        <div class="food-nav">
            <div>
                <p><i class="bi bi-app green-box"></i>&nbsp;&nbsp;Veg Spices</p>
                <p><i class="bi bi-app red-box"></i>&nbsp;&nbsp;Non-veg Spices</p>
            </div>
            <a href="/"><button class="sign-in-btn">Create Account</button></a>
        </div>
        <div class="img-container">
            <img src="../images/food-photographer-E94j3rMcxlw-unsplash-removebg-preview.png" alt="">
        </div>
    </div>
</body>

</html>