<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../userCss/user.css">

</head>

<body>
    <div class="landing-page">
        <nav class="navbar">
            <h1>ALL IN ONE FOOD'S</h1>
            <ul>
                <li>HOME</li>
                <li>MENU</li>
                <li>CONTACT</li>
                <li>SEARCH</li>
            </ul>
            <button class="sign-out">SIGN OUT</button>
        </nav>
        <div class="food-flex">
            <div class="food-text">
                <h1>It's not just food, its an Experience</h1>
                <div class="btn-flex">
                    <button class="btn-1">View Menu</button>
                    <button class="btn-2">Book A Table</button>
                </div>
            </div>
            <div class="food-img">
                <img class="landing-food-img" src="../images/baiq-daling-ykThMylLsbY-unsplash-removebg-preview.png"
                    alt="">
            </div>
        </div>
        <h1 class="name">STARTERS</h1>

        <div class="starters">
            <div class="food-container">
                <img src="https://images.unsplash.com/photo-1621852003709-763b0b32da0b?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8c3RhcnRlcnN8ZW58MHx8MHx8fDA%3D"
                    alt="">
                <div class="text-container">
                    <h3>Non-Veg Momo's</h3>
                    <div class="cart-flex">
                        <p>399 RS</p>
                        <button class="add-cart-btn">ADD CART</button>
                    </div>
                </div>
            </div>

            <div class="food-container">
                <img src="https://images.unsplash.com/photo-1625938144755-652e08e359b7?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8c3RhcnRlcnN8ZW58MHx8MHx8fDA%3D"
                    alt="">
                <div class="text-container">
                    <h3>Baked Feta</h3>
                    <div class="cart-flex">
                        <p>399 RS</p>
                        <button class="add-cart-btn">ADD CART</button>
                    </div>
                </div>
            </div>

            <div class="food-container">
                <img src="https://images.unsplash.com/photo-1532465909-4e0278962a2b?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8c3RhcnRlcnN8ZW58MHx8MHx8fDA%3D"
                    alt="">
                <div class="text-container">
                    <h3>Kumari aunty Momo's</h3>
                    <div class="cart-flex">
                        <p>399 RS</p>
                        <button class="add-cart-btn">ADD CART</button>
                    </div>
                </div>
            </div>

            <div class="food-container">
                <img src="https://images.unsplash.com/photo-1576831438132-7b74c94006b2?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHN0YXJ0ZXJzfGVufDB8fDB8fHww"
                    alt="">
                <div class="text-container">
                    <h3>Minted Melon</h3>
                    <div class="cart-flex">
                        <p>399 RS</p>
                        <button class="add-cart-btn">ADD CART</button>
                    </div>
                </div>
            </div>
        </div>
<!-- -----------------------one line completed--------------- -->

<h1 class="name">MAIN COURSE</h1>

        <div class="starters">
            <div class="food-container">
                <img src="https://images.unsplash.com/photo-1552590635-27c2c2128abf?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8cGFuZWVyJTIwYmlyeWFuaXxlbnwwfHwwfHx8MA%3D%3D"
                    alt="">
                <div class="text-container">
                    <h3>Paneer Biryani</h3>
                    <div class="cart-flex">
                        <p>399 RS</p>
                        <button class="add-cart-btn">ADD CART</button>
                    </div>
                </div>
            </div>

            <div class="food-container">
                <img src="https://images.unsplash.com/photo-1571074635691-b910c7a5cdbb?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bXVzaHJvb20lMjBiaXJ5YW5pfGVufDB8fDB8fHww"
                    alt="">
                <div class="text-container">
                    <h3>Mushroom Biryani</h3>
                    <div class="cart-flex">
                        <p>399 RS</p>
                        <button class="add-cart-btn">ADD CART</button>
                    </div>
                </div>
            </div>

            <div class="food-container">
                <img src="https://plus.unsplash.com/premium_photo-1671516559496-234ace33e213?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8dmVnJTIwdGhhbGl8ZW58MHx8MHx8fDA%3D"
                    alt="">
                <div class="text-container">
                    <h3>Veg Thali</h3>
                    <div class="cart-flex">
                        <p>399 RS</p>
                        <button class="add-cart-btn">ADD CART</button>
                    </div>
                </div>
            </div>

            <div class="food-container">
                <img src="https://images.unsplash.com/photo-1599043513900-ed6fe01d3833?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y2hpY2tlbiUyMGJpcnlhbml8ZW58MHx8MHx8fDA%3D"
                    alt="">
                <div class="text-container">
                    <h3>Chiken Biryani</h3>
                    <div class="cart-flex">
                        <p>399 RS</p>
                        <button class="add-cart-btn">ADD CART</button>
                    </div>
                </div>
            </div>
        </div>
<!-- -----------------------one line completed--------------- -->
<h1 class="name">DESSERTS</h1>

        <div class="starters">
            <div class="food-container">
                <img src="https://images.unsplash.com/photo-1528975604071-b4dc52a2d18c?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9vZCUyMGRlc2VydHN8ZW58MHx8MHx8fDA%3D"
                    alt="">
                <div class="text-container">
                    <h3>Muffins</h3>
                    <div class="cart-flex">
                        <p>399 RS</p>
                        <button class="add-cart-btn">ADD CART</button>
                    </div>
                </div>
            </div>

            <div class="food-container">
                <img src="https://images.unsplash.com/photo-1537200900027-35a21559e661?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGZvb2QlMjBkZXNlcnRzfGVufDB8fDB8fHww"
                    alt="">
                <div class="text-container">
                    <h3>Mousse</h3>
                    <div class="cart-flex">
                        <p>399 RS</p>
                        <button class="add-cart-btn">ADD CART</button>
                    </div>
                </div>
            </div>

            <div class="food-container">
                <img src="https://images.unsplash.com/photo-1670239971675-bb7e3d92ebb0?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGZvb2QlMjBkZXNlcnRzfGVufDB8fDB8fHww"
                    alt="">
                <div class="text-container">
                    <h3>Cup Cakes</h3>
                    <div class="cart-flex">
                        <p>399 RS</p>
                        <button class="add-cart-btn">ADD CART</button>
                    </div>
                </div>
            </div>

            <div class="food-container">
                <img src="https://images.unsplash.com/photo-1629273547117-f459fcc8a577?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGZvb2QlMjBkZXNlcnRzfGVufDB8fDB8fHww"
                    alt="">
                <div class="text-container">
                    <h3>Brownie</h3>
                    <div class="cart-flex">
                        <p>399 RS</p>
                        <button class="add-cart-btn">ADD CART</button>
                    </div>
                </div>
            </div>
        </div>
<!-- -----------------------one line completed--------------- -->




    </div>
</body>

</html>